.numpad {
  width: 12rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 3px;
}

.char {
  background-color: #9999ff;
  border-radius: 1rem;
  padding: 1rem;
}

/* Magic numer 10 - position of the Zero Character. */
.char:nth-child(10) {
  grid-column: 2 / 3;
}
